LITELLM_API_URL=https://litellm.prod.outshift.ai
LITELLM_API_KEY=
LITELLM_VERIFY_SSL=true
SERVER_NAME=LITELLM
LITELLM_TOKEN_ALERTS_ENABLED=false
LITELLM_TOKEN_ALERT_THRESHOLD=0.8
LITELLM_TOKEN_ALERT_LIMITS_JSON={}
