# Default owners for the repository. More specific rules below take precedence.
* @caipe-io/caipe-maintainers @caipe-io/caipe-contributors

# Backend components
/ai_platform_engineering/dynamic_agents/ @caipe-io/caipe-agents-maintainers @caipe-io/caipe-contributors
/ai_platform_engineering/knowledge_bases/rag/ @caipe-io/caipe-kb-rag-maintainers @caipe-io/caipe-contributors

# Deployment
/charts/ @caipe-io/caipe-helm-maintainers @caipe-io/caipe-contributors

# Chat integrations
/ai_platform_engineering/integrations/slack_bot/ @caipe-io/caipe-slackbot-maintainers @caipe-io/caipe-contributors
/ai_platform_engineering/integrations/webex_bot/ @caipe-io/caipe-webexbot-maintainers @caipe-io/caipe-contributors
