# Default owners for the repository. More specific rules below take precedence.
* @sriaradhyula @subbaksh @kevkantes @cisco-erilutz @artdroz

# Backend components
/ai_platform_engineering/dynamic_agents/ @sriaradhyula @subbaksh @kevkantes @cisco-erilutz
/ai_platform_engineering/knowledge_bases/rag/ @sriaradhyula @cisco-erilutz @kevkantes @subbaksh

# Deployment
/charts/ @sriaradhyula @suwhang-cisco

# Chat integrations
/ai_platform_engineering/integrations/slack_bot/ @cisco-erilutz @sriaradhyula @kevkantes
/ai_platform_engineering/integrations/webex_bot/ @sriaradhyula @subbaksh @kevkantes
