[project]
name = "agent_argocd"
version = "0.1.0"
license = "Apache-2.0"
description = "An ArgoCD natural language agent using LangChain, LangGraph, and MCP."
readme = "README.md"
authors = [
  { name = "Sri Aradhyula", email = "sraradhy@cisco.com" },
]
maintainers = [
  { name = "Sri Aradhyula", email = "sraradhy@cisco.com" },
]

[tool.poetry.dependencies]
python = ">=3.13,<4.0"
a2a-sdk = ">=0.2.1"
agentevals = ">=0.0.7"
click = ">=8.2.0"
langchain-anthropic = ">=0.3.13"
langchain-core = ">=0.3.60"
langchain-google-genai = ">=2.1.4"
langchain-mcp-adapters = ">=0.1.0"
langchain-openai = ">=0.3.17"
langgraph = ">=0.4.5"
pytest = ">=8.3.5"
tabulate = ">=0.9.0"
uv = "*"
rich = ">=14.0.0,<15.0.0"
sseclient = ">=0.0.27,<0.0.28"
cnoe-agent-utils = {git = "https://github.com/cnoe-io/cnoe-agent-utils.git", branch = "tracing"}
python-dotenv = ">=1.0.0"
fastmcp = ">=0.1.0"
fastapi = ">=0.100.0"
mcp-argocd = {path = "mcp/argocd"}

[tool.poetry.scripts]
agent_argocd_a2a = "agent_argocd.protocol_bindings.a2a_server.__main__:main"
agent_argocd_mcp = "agent_argocd.mcp.argocd.mcp_argocd.server:main"

[tool.poetry.group.dev.dependencies]
ruff = "^0.11.11"
pytest-asyncio = "^0.26.0"
pytest-cov = "^6.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
# Allow lines to be as long as 300.
line-length = 300
# Number of spaces per indentation level
indent-width = 2

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["F403"]
