ENGINEERING REQUIREMENTS
¶
Group
Team/Project
Nb of units needed in new building racks in corp
Nb of units needed in new building racks in corp (Oct 22)
NB OF UNITS NEEDED IN DMZ
COMMENTS
ET&I
Edge IOU - Edge Ops/SaaS - GreatBear
0
10
0
ET&I
Edge IOU - Edge AI
0
0
0
ET&I
Modern Apps Panoptica
0
0
0
We must have at least 10+ units booked for specific purpose
ET&I
Modern Apps - FSO
0
0
0
ET&I
Open Inner Sources - IRIS
22
20
0
Can we optimise on IRIS? Is it possible to move some to another lab (SJC)?
Common
Lab network
8
9
4
Common
Lab services (LDAP, DHCP)
2
2
0
Common
NetApp (Storage)
12
0
0
deps remove now
Common
VMware Infra (GPU included)
16
16
0
Meraki
Meraki MV
6
6
0
Meraki
Meraki MX
11
9
0
Has this been optimised yet? IF not, let's do the optim as for every team
SBG
CNPD
15
15
0
CIL
iLab + Interproject
0
0
4
Is this enough? THierry will check that with Olivier
Required Units Totals
92
87
8
Max units available Totals (Corp/DMZ)
90
90
22
Check how many units per rack corp vs DMZ (44?)
Units diff
-2
3
14
Number of racks
2
2
0.5
New building lab space location
B1 level -1
B1 level -1
Level 2
2022-10-20