services:
  caipe-p2p:
    image: ${CAIPE_P2P_IMAGE:-ghcr.io/cnoe-io/ai-platform-engineering:latest}
    container_name: caipe-p2p
    volumes:
    - ../../../charts/ai-platform-engineering/data/prompt_config.yaml:/app/prompt_config.yaml
    - ../../../persona.yaml:/app/persona.yaml
    env_file:
    - ../../../.env
    ports:
    - 8000:8000
    environment:
    - A2A_TRANSPORT=p2p
    - ENABLE_ARGOCD=false
    - ENABLE_AWS=false
    - ENABLE_BACKSTAGE=false
    - ENABLE_CONFLUENCE=false
    - ENABLE_GITHUB=false
    - ENABLE_JIRA=false
    - ENABLE_KOMODOR=false
    - ENABLE_PAGERDUTY=false
    - ENABLE_SLACK=false
    - ENABLE_SPLUNK=false
    - ENABLE_WEATHER_AGENT=false
    - ENABLE_WEBEX_AGENT=false
    - ENABLE_PETSTORE_AGENT=false
    - RAG_SERVER_URL=${RAG_SERVER_URL:-http://rag_server:9446}
    - ENABLE_RAG=true
    - ENABLE_TRACING=${ENABLE_TRACING:-false} # Set to true to enable tracing, needs other environment variables to be set
    - LANGFUSE_HOST=${LANGFUSE_HOST}
    - LANGFUSE_PUBLIC_KEY=${LANGFUSE_PUBLIC_KEY}
    - LANGFUSE_SECRET_KEY=${LANGFUSE_SECRET_KEY}
    - LANGFUSE_SESSION_ID=${LANGFUSE_SESSION_ID}
    - LANGFUSE_USER_ID=${LANGFUSE_USER_ID}
    depends_on:
    - rag_server
    command: platform-engineer
    profiles:
    - caipe

  rag_server:
    ports:
      - "9446:9446"
    environment:
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
        REDIS_URL: redis://rag-redis:6379/0
        NEO4J_ADDR: neo4j://neo4j:7687
        NEO4J_USERNAME: neo4j
        NEO4J_PASSWORD: dummy_password
        MILVUS_URI: http://milvus-standalone:19530
        ENABLE_GRAPH_RAG: ${ENABLE_GRAPH_RAG:-true}
        CLEANUP_INTERVAL: 86400
        ONTOLOGY_AGENT_RESTAPI_ADDR: ${ONTOLOGY_AGENT_RESTAPI_ADDR:-http://agent_ontology:8098}
        # Embeddings configuration
        EMBEDDINGS_PROVIDER: ${EMBEDDINGS_PROVIDER:-azure-openai}
        EMBEDDINGS_MODEL: ${EMBEDDINGS_MODEL:-text-embedding-3-small}
    restart: unless-stopped
    env_file:
      - ../../../.env
    depends_on:
      - rag-redis
    build:
      context: .
      dockerfile: ./build/Dockerfile.server
    profiles:
      - apps
      - rag_no_graph
  
  web_ingestor: # Default ingestor, needed for web page ingestion
    environment:
        INGESTOR_TYPE: webloader
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
        REDIS_URL: redis://rag-redis:6379/0
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        MAX_CONCURRENT_JOBS: ${WEBLOADER_INGESTOR_MAX_CONCURRENT_JOBS:-10}
    restart: unless-stopped
    depends_on:
      - rag_server
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - apps
      - rag_no_graph

  agent_ontology:
    ports:
      - "8098:8098"
    environment:
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
        REDIS_URL: redis://rag-redis:6379/0
        NEO4J_ADDR: neo4j://neo4j:7687
        NEO4J_USERNAME: neo4j
        NEO4J_PASSWORD: dummy_password
        SYNC_INTERVAL: 86400 # 24 hours
    env_file:
      - ../../../.env
    restart: unless-stopped
    depends_on:
      - rag_server
      - neo4j
      - rag-redis
    build:
      context: .
      dockerfile: ./build/Dockerfile.agent-ontology
    profiles:
      - apps

  webui:
    build:
      context: .
      dockerfile: build/Dockerfile.webui
    container_name: rag-webui
    environment:
      RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
      NGINX_ENVSUBST_TEMPLATE_SUFFIX: ".conf"
    depends_on:
      - rag_server
    ports:
      - "9447:80"
    profiles:
      - apps
      - rag_no_graph


#####################
# Ingestors
#####################

  backstage_ingestor:
    environment:
        INGESTOR_TYPE: backstage
        BACKSTAGE_URL: ${BACKSTAGE_URL}
        BACKSTAGE_API_TOKEN: ${BACKSTAGE_API_TOKEN}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-900}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - backstage

  aws_ingestor:
    environment:
        INGESTOR_TYPE: aws
        AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
        AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
        AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
        AWS_REGION: ${AWS_REGION:-}
        AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-us-east-2}
        AWS_PROFILE: ${AWS_PROFILE:-}
        AWS_DEFAULT_PROFILE: ${AWS_DEFAULT_PROFILE:-}
        RESOURCE_TYPES: ${AWS_RESOURCE_TYPES:-iam:user,ec2:instance,ec2:volume,ec2:natgateway,ec2:vpc,ec2:subnet,ec2:security-group,eks:cluster,s3:bucket,elasticloadbalancing:loadbalancer,route53:hostedzone,rds:db,lambda:function,dynamodb:table}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-900}
        INIT_DELAY_SECONDS: ${INIT_DELAY_SECONDS:-0}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    volumes:
      - ${HOME}/.aws:/home/app/.aws:ro
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - aws

  k8s_ingestor:
    environment:
        INGESTOR_TYPE: k8s
        CLUSTER_NAME: ${CLUSTER_NAME}
        KUBECONFIG: ${KUBECONFIG:-/home/app/.kube/config}
        KUBE_CONTEXT: ${KUBE_CONTEXT:-}
        IN_CLUSTER: ${K8S_IN_CLUSTER:-false}
        RESOURCE_LIST: ${K8S_RESOURCE_LIST:-Certificate,ClusterIssuer,CronJob,DaemonSet,Deployment,Ingress,IngressClass,Issuer,Job,Namespace,Node,Service,StatefulSet,StorageClass}
        IGNORE_FIELD_LIST: ${K8S_IGNORE_FIELD_LIST:-metadata.annotations.kubectl.kubernetes.io,metadata.labels.app.kubernetes.io,metadata.managedFields,metadata.selfLink}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-900}
        INIT_DELAY_SECONDS: ${INIT_DELAY_SECONDS:-0}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    volumes:
      - ~/.kube/config:/home/app/.kube/config:ro
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - k8s

  slack_ingestor:
    environment:
        INGESTOR_TYPE: slack
        SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
        SLACK_BOT_NAME: ${SLACK_BOT_NAME}
        SLACK_WORKSPACE_URL: ${SLACK_WORKSPACE_URL:-https://slack.com}
        SLACK_CHANNELS: ${SLACK_CHANNELS:-{}}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-900}
        INIT_DELAY_SECONDS: ${INIT_DELAY_SECONDS:-0}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - slack

  webex_ingestor:
    environment:
        INGESTOR_TYPE: webex
        WEBEX_ACCESS_TOKEN: ${WEBEX_ACCESS_TOKEN}
        WEBEX_BOT_NAME: ${WEBEX_BOT_NAME}
        WEBEX_SPACES: ${WEBEX_SPACES:-{}}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-86400}
        INIT_DELAY_SECONDS: ${INIT_DELAY_SECONDS:-60}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - webex

  argocd_ingestor:
    environment:
        INGESTOR_TYPE: argocd
        SERVER_URL: ${SERVER_URL}
        ARGOCD_AUTH_TOKEN: ${ARGOCD_AUTH_TOKEN}
        ARGOCD_VERIFY_SSL: ${ARGOCD_VERIFY_SSL:-true}
        ARGOCD_FILTER_PROJECTS: ${ARGOCD_FILTER_PROJECTS:-}
        RAG_SERVER_URL: ${RAG_SERVER_URL:-http://rag_server:9446}
        SYNC_INTERVAL: ${SYNC_INTERVAL:-900}
        INIT_DELAY_SECONDS: ${INIT_DELAY_SECONDS:-0}
        LOG_LEVEL: ${LOG_LEVEL:-INFO}
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    profiles:
      - argocd

#####################
# Dependent services
#####################
  neo4j:
    image: neo4j:latest
    volumes:
        - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/neo4j/logs:/logs
        - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/neo4j/config:/config
        - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/neo4j/data:/data
        - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/neo4j/plugins:/plugins
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: unless-stopped
    profiles:
      - deps
      - apps
    environment:
      NEO4J_AUTH: neo4j/dummy_password
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_apoc_export_file_enabled: true
      NEO4J_apoc_import_file_enabled: true
      NEO4J_apoc_import_file_use__neo4j__config: true

    # Backstage Plugin (Agent Forge)
  backstage-agent-forge:
    image: ghcr.io/cnoe-io/backstage-plugin-agent-forge:latest
    container_name: backstage-agent-forge
    ports: ["13000:3000"]
    environment:
      - NODE_ENV=development
      - AGENT_FORGE_BASE_URL=${AGENT_FORGE_BASE_URL:-http://localhost:8000}
    profiles:
      - deps
      - apps

  rag-redis:
    image: redis
    command:
      - /bin/sh
      - -c
      - redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped
    profiles:
      - deps
      - apps
      - rag_no_graph

  milvus-standalone:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.6.0
    command: ["milvus", "run", "standalone"]
    profiles:
      - deps
      - apps
      - rag_no_graph
    security_opt:
      - seccomp:unconfined
    environment:
      MINIO_REGION: us-east-1
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: milvus-minio:9000
      LOG_LEVEL: error
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus:/var/lib/milvus
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - etcd
      - milvus-minio

  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.18
    profiles:
      - deps
      - apps
      - rag_no_graph
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 20s
      retries: 3

  milvus-minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2024-05-28T17-19-04Z
    profiles:
      - deps
      - apps
      - rag_no_graph
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9001:9001"
      - "9000:9000"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/minio:/minio_data
    command: minio server /minio_data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  
#####################
# Test services
#####################

  testwebsite:
    image: nginx:alpine
    container_name: test-website
    ports:
      - "8080:80"
    volumes:
      - ./tests/rag_test:/usr/share/nginx/html
    profiles:
      - dummy_site
      - apps

  dummy_graph_ingestor:
    build:
      context: .
      dockerfile: ./build/Dockerfile.ingestors
    container_name: dummy-ingestor
    volumes:
      - ./tests/rag_graph_test:/app/data:ro
    environment:
      RAG_SERVER_URL: http://rag_server:9446
      INGESTOR_NAME: dummy_ingestor
      DUMMY_ENTITIES_FILE: /app/data/dummy_entities.json
    depends_on:
      - rag_server
    profiles:
      - dummy_ingestor
