---
id: installation/helm-charts/supervisor-agent
sidebar_label: supervisor-agent
---

# {{ template "chart.name" . }}

{{ template "chart.description" . }}

## Parameters

{{ template "chart.valuesSection" . }}
