[project]
name = "agent_petstore"
version = "0.1.0"
license = "Apache-2.0"
description = "An Petstore natural language agent using LangChain, LangGraph, and MCP."
readme = "README.md"
authors = [
    { name = "Rehan Agrawal", email = "rehagraw@cisco.com" },
]
maintainers = [
    { name = "Rehan Agrawal", email = "rehagraw@cisco.com" },
]
requires-python = ">=3.13,<4.0"
dependencies = [
    "a2a-python>=0.0.1",
    "a2a-sdk>=0.2.1",
    "agentevals>=0.0.7",
    "click>=8.2.0",
    "langchain-anthropic>=0.3.13",
    "langchain-core>=0.3.60",
    "langchain-google-genai>=2.1.4",
    "langchain-mcp-adapters>=0.1.0",
    "langchain-openai>=0.3.17",
    "langgraph>=0.4.5",
    "pytest>=8.3.5",
    "tabulate>=0.9.0",
    "uv",
    "rich (>=14.0.0,<15.0.0)",
    "sseclient (>=0.0.27,<0.0.28)",
    "cnoe-agent-utils @ git+https://github.com/cnoe-io/cnoe-agent-utils.git@tracing",
]
[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.poetry.scripts]
agent_argocd_a2a = "agent_argocd.protocol_bindings.a2a_server:main"

[tool.poetry.dependencies]
uv = "^0.7.5"
dos2unix = "^1.0.2"  # For converting Windows CRLF to Unix LF line endings
python-dotenv = "^1.0.0"  # For better environment variable handling
httpx = "^0.27.0"  # For HTTP requests in test scripts

[tool.poetry.group.dev.dependencies]
ruff = "^0.11.11"
pytest-asyncio = "^0.26.0"
pytest-cov = "^6.1.1"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
# Allow lines to be as long as 140.
line-length = 500
# Number of spaces per indentation level
indent-width = 2

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
]
ignore = ["F403"]
