global:
  ingress:
    enabled: true
    className: nginx
    annotations: {}
      # kubernetes.io/ingress.class: "nginx"
      # kubernetes.io/tls-acme: "true"

mcp-argocd:
  ingress:
    hosts: []
      #  - mcp-argocd.local
    tls: []
      # - secretName: mcp-argocd-tls
      #   hosts:
      #     - mcp-argocd.local

mcp-pagerduty:
  ingress:
    hosts: []
      #  - mcp-pagerduty.local
    tls: []
      # - secretName: mcp-pagerduty-tls
      #   hosts:
      #     - mcp-pagerduty.local

mcp-github:
  ingress:
    hosts: []
      #  - mcp-github.local
    tls: []
      # - secretName: mcp-github-tls
      #   hosts:
      #     - mcp-github.local

mcp-backstage:
  ingress:
    hosts: []
      #  - mcp-backstage.local
    tls: []
      # - secretName: mcp-backstage-tls
      #   hosts:
      #     - mcp-backstage.local

mcp-slack:
  ingress:
    hosts: []
      #  - mcp-slack.local
    tls: []
      # - secretName: mcp-slack-tls
      #   hosts:
      #     - mcp-slack.local

mcp-confluence:
  ingress:
    hosts: []
      #  - mcp-confluence.local
    tls: []
      # - secretName: mcp-confluence-tls
      #   hosts:
      #     - mcp-confluence.local

mcp-jira:
  ingress:
    hosts: []
      #  - mcp-jira.local
    tls: []
      # - secretName: mcp-jira-tls
      #   hosts:
      #     - mcp-jira.local